@import 'colors';

.home{
    width: 100%;
    height: 100vh;

    > main{
        position: absolute;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding: 2rem;
        justify-content: center;

        >h1{
            font: 400 6rem;
            color: rgb(255, 255, 255);
        }

        >p{
            font: 900 1rem ;
            color: white;
            width: 40%;
        }
    }

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background:  url("../assests/hd2.avif");
        filter: blur(1px);
    }
}

#mh{
    color: $tcolor;
    margin: 100px 100px 40px 100px;
    text-align: center;
}

.home2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 80px;

    > img{
        width: 40%;
        border-radius: 10%;
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2), 0 2px 60px rgba(0, 0, 0, 0.19);
    }

    > div{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        height: 100vh;
    }

    p{
        color: rgb(100, 100, 100);
        letter-spacing: 2px;
        word-spacing: 5px;
        font:100 1.5rem ;
    }
}


@keyframes slide {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }
      
      .logos {
        overflow: hidden;
        padding: 60px 0;
        background: white;
        white-space: nowrap;
        position: relative;
      }
      
      .logos:before,
      .logos:after {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
      }
      
      .logos:before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
      }
      
      .logos:after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
      }
      
      .logos:hover .logos-slide {
        animation-play-state: paused;
      }
      
      .logos-slide {
        display: inline-block;
        animation: 35s slide infinite linear;
      }
      
      .logos-slide img {
        height: 50px;
        margin: 0 40px;
      }

.home4{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap:wrap;
  padding: 10px 80px;

    > .title{
        color: $second;
        letter-spacing: 2px;
        word-spacing: 5px;
        text-decoration: underline;
        font: 100 1.5rem ;
        margin: 15px 0px;
        width: 70%;

    }

    > h1{
        letter-spacing: 2px;
        word-spacing: 2px;
        font: 100 1.5rem ;
        color: $tcolor;
        width: 40%;
        margin: 10px 0px;
        line-height: 110%;
        align-items: flex-start;
    }

    >.para{
        letter-spacing: 2px;
        word-spacing: 3px;
        font-weight: 500;
        font-family: 'Open Sans';
        width: 62%;
        margin: 20px 0px;
        align-items: flex-start;
    }

    img {
      width: 30%;
      height: 80%;
      position: relative; 
      bottom: 45%;
      left: 10%;
      margin-bottom: 10%;
      border-radius: 10%;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 0 2px 40px rgba(0, 0, 0, 0.19); /* Soothing shadow */
    }
    
    



}
